li {
    list-style: none;
    display:inline-block;
    margin: 20px;
}

header {
    background-color: #FFFF9E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    display: inline-block;
    padding: 0px 10px;
}

a {
    color: #594A8A;
    font-size: 2em;
    text-decoration: none;
}

section {
    font-size: 1.5em;
    padding: 80px 30px 30px 30px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 980) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
}

@media only screen and (max-width: 786px) {
    section {
        font-size: 1em;
    }

    a {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 595px) {
    #head {
        width: 50vw;
    }

    #about {
        width: 50vw;
    }

    #projects {
        width: 80vw;
    }

    #contacts {
        width: 20vw;
        flex: 0 100%;
    }

    a {
        font-size: 1em;
    }
}

#content {
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgb(217, 255, 0);
}

#about img {
    max-width: 40%;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

#projects {
    background-color: aqua;
    padding-bottom: 70px;
}

#projects img {
    height: 400px;
    width: 450px;
    max-width: 80%;
    border-radius: 10%;
    transition: 0.5s ease;
    margin: 10px auto;
}

#projects a {
    display: flex;
    justify-content: center;
}

#projects img:hover {
    transform: scale(1.1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.project {
    display: grid;
    grid-template-rows: 1fr;
    margin: 50px 50px;
}

.contact-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.social {
    height: 128px;
    width: 128px;
    padding: 0px 20px;
}

footer {
    background-image: #049e0b;
}

